boto3==1.12.18
botocore==1.15.18
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
dataclasses==0.6
dnspython==1.16.0
docutils==0.15.2
email-validator==1.0.5
fastapi==0.52.0
filelock==3.0.12
h11==0.9.0
httptools==0.1.1
idna==2.9
jmespath==0.9.5
joblib==0.14.1
nltk==3.4.5
numpy==1.18.1
protobuf==3.11.3
pydantic==1.4
python-dateutil==2.8.1
python-multipart==0.0.5
regex==2020.2.20
requests==2.23.0
s3transfer==0.3.3
sacremoses==0.0.38
scipy==1.4.1
sentencepiece==0.1.85
six==1.14.0
starlette==0.13.2
tokenizers==0.5.2
torch==1.4.0
tqdm==4.43.0
urllib3==1.25.8
uvicorn==0.11.3
uvloop==0.14.0
websockets==8.1
gunicorn==19.9.0
